*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

body{
    background:#f5f5f7;
    color:#111;
}

/* HERO */

.hero{

    max-width:1400px;

    margin:auto;

    min-height:100vh;

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:70px;

    padding:120px 60px 60px;
}

/* LEFT */

.hero-content{

    flex:1;
}

.tag{

    display:inline-block;

    background:#ffffff;

    color:#0071E3;

    padding:10px 22px;

    border-radius:40px;

    font-size:15px;

    font-weight:600;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    margin-bottom:35px;
}

.hero h1{

    font-size:72px;

    font-weight:800;

    line-height:1.05;

    letter-spacing:-3px;

    margin-bottom:30px;
}

.hero p{

    font-size:20px;

    color:#666;

    line-height:1.8;

    max-width:550px;

    margin-bottom:45px;
}

/* BUTTONS */

.hero-buttons{

    display:flex;

    gap:20px;
}

.btn-primary{

    background:#111;

    color:white;

    text-decoration:none;

    padding:18px 38px;

    border-radius:50px;

    font-weight:600;

    transition:.3s;
}

.btn-primary:hover{

    background:#0071E3;

    transform:translateY(-4px);
}

.btn-secondary{

    background:white;

    color:#111;

    text-decoration:none;

    padding:18px 38px;

    border-radius:50px;

    border:1px solid #ddd;

    font-weight:600;

    transition:.3s;
}

.btn-secondary:hover{

    background:#111;

    color:white;
}

/* IMAGE */

.hero-image{

    flex:1;

    display:flex;

    justify-content:center;
}

.hero-image img{

    width:100%;

    max-width:650px;

    border-radius:35px;

    box-shadow:0 25px 60px rgba(0,0,0,.15);

    transition:.5s;
}

.hero-image img:hover{

    transform:scale(1.03);
}

/* RESPONSIVE */

@media(max-width:1000px){

.hero{

    flex-direction:column;

    text-align:center;

    padding-top:140px;
}

.hero p{

    margin:auto;

    margin-bottom:40px;
}

.hero-buttons{

    justify-content:center;
}

.hero h1{

    font-size:55px;
}

}

@media(max-width:600px){

.hero{

    padding:120px 25px 40px;
}

.hero h1{

    font-size:42px;
}

.hero p{

    font-size:17px;
}

.hero-buttons{

    flex-direction:column;
}

.btn-primary,
.btn-secondary{

    width:100%;
}

}