.header{

    margin:20px;

    background:rgba(255,255,255,.35);

    backdrop-filter:blur(18px);

    border-radius:20px;

    padding:20px 35px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.left h2{

    font-size:28px;

}

.left p{

    color:#777;

}

.right{

    display:flex;

    align-items:center;

    gap:25px;

}

.notification{

    width:50px;

    height:50px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:white;

    cursor:pointer;

    font-size:20px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.profile{

    display:flex;

    align-items:center;

    gap:15px;

}

.profile img{

    width:55px;

    height:55px;

    border-radius:50%;

}

.profile span{

    color:#777;

    font-size:13px;

}