*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.layout{
    display:flex;
    min-height:100vh;
    background:linear-gradient(135deg,#edf2f7,#f9fbff);
}

.main{
    flex:1;
    display:flex;
    flex-direction:column;
}

.content{
    flex:1;
    padding:30px;
    overflow:auto;
}