.sidebar{

    width:280px;

    height:100vh;

    position:sticky;

    top:0;

    padding:35px 20px;

    display:flex;

    flex-direction:column;

    background:rgba(255,255,255,.35);

    backdrop-filter:blur(18px);

    border-right:1px solid rgba(255,255,255,.5);

    box-shadow:0 0 25px rgba(0,0,0,.08);

}

.logo{

    margin-bottom:50px;

}

.logo h2{

    font-size:30px;

    letter-spacing:2px;

}

.logo p{

    color:#777;

}

nav{

    display:flex;

    flex-direction:column;

    gap:15px;

    flex:1;

}

nav a{

    text-decoration:none;

    color:#222;

    padding:15px 20px;

    border-radius:15px;

    display:flex;

    align-items:center;

    gap:15px;

    transition:.3s;

    font-weight:500;

}

nav a:hover{

    background:white;

    transform:translateX(6px);

}

.active{

    background:white;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.logout{

    border:none;

    padding:15px;

    border-radius:15px;

    cursor:pointer;

    background:#111;

    color:white;

    font-size:16px;

}